
body{color:blue;background-color:lightblue;font size:15px;}
h5{color:white;background-color:grey;fot-size:15px;text-align:right;font-family:calibri;}
h2{color:white;background-color:grey;fot-size:30px;text-align:right;font-family:calibri;}
