

h2{color:white;background-color:grey;fot-size:15px;text-align:right;font-family:calibri; border: 1px solid black;
    outline-style: double;
    outline-color: red;
}
h1{color:white;background-color:grey;fot-size:30px;text-align:right;font-family:georgia;}

 
